.canvas-for-cursor-dot {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  /* Hide canvas on small screens */
  @media (max-width: 930px) {
    display: none;
  }
}
